body {
    background-color: #12252a;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
}
.shap1 img {
    width: 100px;
    padding: 15px 0px 15px 0px;
    background-color: white;
    border: 5px solid black;
    border-radius: 80px;
    margin: 10px;
}
header {
    background-color: #5dcfec;
    transition: all 0.4s ease-in;
    border-bottom: 0px solid #a1e4f5;
}
header:hover {
    background-color: #a1e4f5;
    transition: all 0.5s linear;
    border-bottom: 50px solid #a1e4f5;
}
.shap1 {
    display: flex;
    justify-content: space-between;
}
.shap1 a {
    font-size: 40px;
    text-decoration: none;
    margin-top: 40px;
    color: white;
    margin-right: 25px;
    transition: all 0.5s ease-out;
}
.shap1 a:hover {
    color: rgb(51, 83, 98);
    text-decoration: underline;
    transition: all 0.2s ease-in;
    font-size: 50px;
}
.pop {
    float: right;
    background-image: linear-gradient(#194955, #5dcfec);
}
.pop h1 {
    color: lightblue;
    text-align: center;
    font-size: 55px;
}
.catalog h1 {
    color: rgb(176, 230, 255);
    text-align: center;
    font-size: 45px;
}
.products img {
    width: 300px;
    margin-top: 5px;
    height: 260px;
}
.products {
    background-color: rgb(255, 255, 255);
    width: 400px;
    text-align: center;
    border: #12252a solid 5px;
    border-radius: 10px;
    height: 503px;
    margin-bottom: 30px;
}
.products p {
    color: #266372;
    font-size: 30px;
    text-align: left;
    margin-left: 5px;
}
span {
    color: #57656d;
    font-size: 20px;
    margin-left: 20px;
}
.sk {
    margin-left: 3px;
    color: #266372;
}
.text {
    color: #12252a;
    margin-left: 0px;
    font-size: 25px;
}
.products a {
    text-decoration: none;
    background-color: #0497C1;
    color: aliceblue;
    border: white 1px solid;
    padding-left: 150px;
    padding-right: 150px;
    font-size: 30px;
    border-radius: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    transition: all 0.2s ease-out;
}
.product {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.products a:hover {
    border: 5px solid #0497C1;
    color: #0497C1;
    background-color: white;
    transition: all 0.2s ease-out;
    padding-top:0px ;
    padding-bottom:0px ;
}
